body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    overflow: scroll;
}
.background{
    display: flex;
    justify-content: center;
    background: #1f2937;
    height: 600px;
    overflow: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    width: 1100px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}
.header1{
    color: white;
    font-weight: 700;
    font-size: 24px;
}
.header-list{
    display: flex;
    gap: 16px;
}
ul{
    list-style-type: none;
    color: white;
    padding: 0px;
    margin: 0px;
}

.items-text{
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    gap: 8px;
}
.items{
    display: flex;
    gap: 32px;
    margin-bottom: auto;
    margin-top: auto;
}
.items-text .text1{
    font-weight: 700 ;
    font-size: 48px;
}
.items-text .text2{
    font-size: 18px ;
    color: #e5e7eb;
}

.imgPlaceholder{
    width: 63vw;
    background:  rgba(146, 145, 145, 0.849);
}
.items-text .signUp{
    width: 100px;
    height: 28px;
    font-weight: 600;
    color: #e5e7eb;
    background: #3882f6;
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-radius: 5px;
    text-align: center;
}

/* content1 */
.content1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    background: #f9faf8;
    overflow: hidden;
}

.content1 .text-header{
    color: #1f2337;
    font-size: 36px;
    font-weight: 700;
    margin-top: 16px;
}
.content1 .content1-imgs{
    display: flex;
    gap: 32px;
    margin-top: auto;
    margin-bottom:auto ;
    width: 900px;
}
.info1,.info2,.info3,.info4{
    display: flex;
    flex-direction: column;
}
.content1 .img{
    width: 190px;
    height: 200px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}
.content1 .text{
    color: #1f2937;
    font-size: 14px;
}

/*content2*/
.content2{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e5e7eb;
    height: 500px;
    overflow: hidden;
}
.container2{
    display: flex;
    flex-direction: column;
    width: 900px;
}
.signature{
    font-size: 14px;
    font-weight: 600;
    color: #1f2937;
    align-self: flex-end;
}
.message{
    font-size: 36px;
    color: #1f2937;
}
/*content3*/
.content3{
    display: flex;
    background: #f9faf8;
    height: 400px;
    justify-content: center;
    align-items: center;    
}
.bluearea{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #3882f6;
    border-radius: 10px;    
    width: 1100px;
    height: 150px;
}
.bluearea .texts{
    display: flex;
    flex-direction: column;
    
}
.texts .text1{
    font-size: 24px;
    font-weight: 400    ;
   color: #f9faf8;
}
.texts .text2{
     color: #e5e7eb  ;
     font-size: 16px;
}
.bluearea button{
    padding: 0px;
    margin: 0px;
    border: 2px solid  #f9faf8 ;
    background: #3882f6;
    width: 100px;
    height: 30px;
    color:  rgb(255, 255, 255);
    border-radius: 6px;
    font-size: 16px;
}
/*footer*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f2937;
    height: 50px;
}
.footer .text{
    font-size: 15px;
    color:  #f9faf8;
}